.Tengah1 {
	text-align: center;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 1px;
}
.Teng {
	text-align: center;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 1px;
}
.Kanankiri {
	text-align: justify;
	text-indent: 50px;
	word-spacing: 3px;
}
body {
  background: #ccae62;
}

a {
  text-decoration: none;
}